<!-- 
<p>Name: {{name}}</p>
<p>Price: ${{price}}</p>
<p>Color: {{color}}</p>
<p>Discounted Price: ${{discountedPrice}}</p> -->

<app-search (searchTextChanged)="onSearchTextChanged($event)"></app-search>
<product-list [searchText]="searchText" #productListComponent></product-list>
<product-detail *ngIf="productListComponent.selectedProduct" [productListComponent] = "productListComponent"></product-detail>

<div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
        <h1>Latest Arrival in Popular Brands </h1>
    </div>

    <featured-brands>
        <h3 class="title">New Arrival in Nike</h3>
        <button class="call-to-action">Show new arrival in Nike</button>
    </featured-brands>
    <featured-brands>
        <h3 class="title">New Arrival in Adidas</h3>
        <button class="call-to-action">Show new arrival in Adidas</button>
    </featured-brands>
    <featured-brands>
        <h3 class="title">New Arrival in Reebok</h3>
        <button class="call-to-action">Show new arrival in Reebok</button>
    </featured-brands>

    <!-- <div class="ekart-featured-product-item">
        <h3 class="title">New Arrival in Adidas</h3>
        <p class="description">
            Some description about the new featured product. 
            Some description about the new featured product. 
            Some description about the new featured product. 
        </p>
        <button class="call-to-action">Learn More</button>
    </div>

    <div class="ekart-featured-product-item">
        <h3 class="title">New Arrival in Reebok</h3>
        <p class="description">
            Some description about the new featured product. 
            Some description about the new featured product. 
            Some description about the new featured product. 
        </p>
        <button class="call-to-action">Learn More</button>
    </div> -->

</div>

<!-- <div *ngFor="let item of [1,2,3,6,7,8,9,0]"> -->
<!-- <div *ngFor="let item of listOfString">
    <p>{{item}}</p>
</div> -->

<img [src]="product.pImage" alt="">

<p>Name: {{product.name}}</p>
<p>Price: {{ '$'+product.price.toFixed(2) }}</p>
<p>Color: {{product.color}}</p>
<!-- <p>Discounted Price: ${{product.price - (product.price * 0.10)}}</p> -->
<p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>

<p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' left' : 'No stock available' }}</p>

<button 
    [disabled]="!(product.inStock > 0)" 
    class="btn btn-primary"
    (click)="addItemToCart()">
    Add To Cart
</button>

<br><br>

<div>
    <button [disabled]="!(addToCart > 0)" (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button [disabled]="addToCart == product.inStock" (click)="incrementCartValue()">+</button>
</div>

<br>

<!-- 
    value -> Property Binding 
    aria-hidden -> Attribute Binding (start with attr.)
-->
<input 
    type="text" 
    [value]="name" 
    [attr.aria-hidden]="false" 
    class="form-control" 
    style="width: 200px;"
    (input)="onNameChanged($event)" />

<br>

<p>Total item added to cart: {{addToCart}}</p>

<p>Hi {{name}}, are you sure you want to proceed?</p>
